[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pyzbar = {extras = ["scripts"], version = "*"}
pymongo = "*"
customtkinter = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
